<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="transparent-header">

  <ion-navbar>
  </ion-navbar>

</ion-header>


<ion-content padding [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">

  <ion-row style="position: absolute;top: 5%;width: 100%;left: 0;padding: 0 30px;text-align: left">
    <ion-col>
      <h1 color="light" style="font-weight:200">CSO
        <span style="font-weight:500">RoomBooking</span>
      </h1>
    </ion-col>
  </ion-row>

  <ion-row style="position: absolute;top: 20%;width: 100%;left: 0;padding: 0 30px;text-align: left">
    <ion-col>
      <h1 color="light">Welcome
        <br>
        <span style="font-weight:200;">Log in to start your booking</span>
      </h1>
    </ion-col>
  </ion-row>

  <ion-row style="position: absolute;bottom: 35%;width: 100%;left: 0;padding: 0 30px;">
    <ion-col>
      <form #loginForm="ngForm" novalidate>
        <ion-list class="shadow no-border">
          <ion-item>
            <ion-input [(ngModel)]="user.email" type="text" placeholder="Username" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="user.password" type="password" placeholder="Password" required></ion-input>
          </ion-item>
        </ion-list>
      </form>
      <div color="light" (click)="goToSignup()">
        <span>Forget password?</span>
      </div>
    </ion-col>
  </ion-row>

  <button ion-button (click)="login(loginForm)" type="submit">Login</button>
</ion-content>

